@import url("https://fonts.googleapis.com/css2?family=Lato&family=Nova+Flat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Texturina:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  background-color: #80ffdb;
  position: relative;
}

div.wraper {
  position: fixed;
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
div.top {
  position: relative;
  background-image: url("https://lh3.googleusercontent.com/V7Ypjq60m88kp3kchqBrxfavc1V3f-XmuwFfUCKUdiEYvxzeMTX-sxCCafCI83a07slo=s85");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #0e49b5;
  border-style: ridge;
  border-bottom: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: 300px;
  height: 120px;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Nova Flat", cursive;
  padding-top: 15px;
  padding-bottom: 20px;
  box-shadow: 3px 4px 10px;
}
div.inner {
  position: relative;
  background-image: url("https://lh3.googleusercontent.com/qt0p8XE5hCykapgEJUyZkUefV6jFPutHHigwUgTrW4Zb_kNXZsDqnBGemoZpw0SJ9nBQKRk=s152");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid #0e49b5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 300px;
  height: 300px;
  font-family: "Lato", sans-serif;
  box-shadow: 3px 4px 15px;
  box-shadow: 3px 4px 15px;
  word-wrap: break-word ;
  overflow-y: scroll;
    border-bottom-right-radius: none;
}
h1 {
  color: #393e46;
}
div.btninp {
  position: relative;
  display: flex;
  flex-direction: row;
  padding-top: 10px;
}
input {
  margin-left: 10px;
  outline: none;
  border: none;
  background-color: #150485;
  color: white;
  padding: 5px;
  font-family: "Varela Round", sans-serif;
  font-size: 15px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
input:focus {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}
.btnadd {
  position: absolute;
  right: 40px;
  margin-top: 3px;
}
.btnsub {
  margin-right: 15px;
}
.clearbtn {
  position: absolute;
  right: 5px;
  margin-top: 5px;
  margin-bottom: 30px;
  outline: none;
  border: none;
  width: 70px;
  background-color: #e8eae6;
  padding: 4px 3px  2px 3px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.clearbtn:hover{
  background-color: #ffa62b;
  color:aliceblue
}
.clearbtn:active{
  background-color: #ec4646;
  color: #51c2d5;
}
.edit {
  position: absolute;
  left: 30px;
}
.del{
  position: absolute;
  right: 5px;
  margin-top: 3px;
}
ol {
  list-style-position: inside;
  list-style-type: none;
}
div.list {
  display: flex;
  flex-direction: row;
  padding: 5px;
  margin-top: 5px;
}
li {
  margin-left: 10px;
  color: #09015f;
  word-wrap: break-word;
}


